<section id="fotos" class="text-center">
  <h1>Fotos</h1>
  <h2>Área comum</h2>
  <div style="max-width: 614px; width: 100%; margin: 0 auto">
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/01.BEACH CLUB GERAL.jpg"
        alt="BEACH CLUB GERAL"
        width="100%"
      />
      <h3>BEACH CLUB GERAL</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/02.BEACH CLUB 01 REST_R03.jpg"
        alt="Restaurante"
        width="100%"
      />
      <h3>Restaurante</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/03.Brinquedo aquático.jpg"
        alt="Brinquedo aquático"
        width="100%"
      />
      <h3>Brinquedo aquático</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/04.Espaço Kids.jpg"
        alt="Espaço Kids"
        width="100%"
      />
      <h3>Espaço Kids</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/05.Piscina Kids.jpg"
        alt="Piscina Kids"
        width="100%"
      />
      <h3>Piscina Kids</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/06.Pool Whiskeria.jpg"
        alt="Pool Whiskeria"
        width="100%"
      />
      <h3>Pool Whiskeria</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/08. CHARUTERIA_CAIS.jpg"
        alt="CHARUTERIA CAIS"
        width="100%"
      />
      <h3>CHARUTERIA CAIS</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/09. WHISKERIA_CAIS.jpg"
        alt="WHISKERIA CAIS"
        width="100%"
      />
      <h3>WHISKERIA CAIS</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/10.POOL YOGA.jpg"
        alt="POOL YOGA"
        width="100%"
      />
      <h3>POOL YOGA</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/11.GINASTICA_CAIS.jpg"
        alt="GINASTICA CAIS"
        width="100%"
      />
      <h3>GINASTICA CAIS</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/12.Pool Sport.jpg"
        alt="Pool Sport"
        width="100%"
      />
      <h3>Pool Sport</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/13.GOURMET_DIVISÓRIA_CAIS.jpg"
        alt="GOURMET DIVISÓRIA CAIS"
        width="100%"
      />
      <h3>GOURMET DIVISÓRIA CAIS</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/14.Pool Charutaria.jpg"
        alt="Pool Charutaria"
        width="100%"
      />
      <h3>Pool Charutaria</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/15.QUADRA.jpg"
        alt="QUADRA"
        width="100%"
      />
      <h3>QUADRA</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/16.PET OP 1.jpg"
        alt="PET OP 1"
        width="100%"
      />
      <h3>PET OP 1</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/01.BEACH CLUB GERAL.jpg"
        alt="BEACH CLUB GERAL"
        width="100%"
      />
      <h3>BEACH CLUB GERAL</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/ENTRADA PRINCIPAL.jpg"
        alt="ENTRADA PRINCIPAL"
        width="100%"
      />
      <h3>ENTRADA PRINCIPAL</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/GOURMET_CAIS.jpg"
        alt="GOURMET CAIS"
        width="100%"
      />
      <h3>GOURMET CAIS</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/areas-comuns/Lounge gourmer modulo.jpg"
        alt="Lounge gourmer modulo"
        width="100%"
      />
      <h3>Lounge gourmer modulo</h3>
    </div>
  </div>
</section>
