<section id="fotos">
  <h1 class="text-center">Fotos</h1>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4 mb-3">
        <a routerLink="/fotos/areas-comuns" class="card bg-dark text-white">
          <img
            src="../../assets/fotos/areas-comuns/08. CHARUTERIA_CAIS.jpg"
            class="card-img"
            alt="Áreas comuns"
          />
          <div class="card-img-overlay">
            <h2 class="card-title">Áreas comuns</h2>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-4 mb-3">
        <a routerLink="/fotos/cordel" class="card bg-dark text-white">
          <img
            src="../../assets/fotos/cordel/SALA_APTO2QUARTOS_TIPO_CAIS.jpg"
            class="card-img"
            alt="Cordel"
          />
          <div class="card-img-overlay">
            <h2 class="card-title">Cordel</h2>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-4 mb-3">
        <a routerLink="/fotos/meu-cais" class="card bg-dark text-white">
          <img
            src="../../assets/fotos/meu-cais/QUARTO CASAL CAIS.jpg"
            class="card-img"
            alt="Meu Cais"
          />
          <div class="card-img-overlay">
            <h2 class="card-title">Meu Cais</h2>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-4 mb-3">
        <a routerLink="/fotos/rooftop-arte" class="card bg-dark text-white">
          <img
            src="../../assets/fotos/rooftop-arte/SALA ROOFTOP 1 QUARTO CAIS.jpg"
            class="card-img"
            alt="Rooftop Arte"
          />
          <div class="card-img-overlay">
            <h2 class="card-title">Rooftop Arte</h2>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-4 mb-3">
        <a routerLink="/fotos/rooftop-poesia" class="card bg-dark text-white">
          <img
            src="../../assets/fotos/rooftop-poesia/ROOFTOP 2QUARTOS CAIS.jpg"
            class="card-img"
            alt="Rooftop Poesia"
          />
          <div class="card-img-overlay">
            <h2 class="card-title">Rooftop Poesia</h2>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-4 mb-3">
        <a routerLink="/fotos/xilo" class="card bg-dark text-white">
          <img
            src="../../assets/fotos/xilo/SALA_1QUARTOTIPO_CAIS.jpg"
            class="card-img"
            alt="Xilo"
          />
          <div class="card-img-overlay">
            <h2 class="card-title">Xilo</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
