<section id="fotos" class="text-center">
  <h1>Fotos</h1>
  <h2>Cordel</h2>
  <div style="max-width: 614px; width: 100%; margin: 0 auto">
    <div class="mb-3">
      <img
        src="../../assets/fotos/cordel/Planta Isolada Cordel Com divisória (2).jpg"
        alt=""
        width="100%"
      />
      <h3>Planta Isolada Cordel Com divisória</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/cordel/Planta Isolada Cordel Com divisória.jpg"
        alt=""
        width="100%"
      />
      <h3>Planta Isolada Cordel Com divisória</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/cordel/Planta Isolada Cordel.jpg"
        alt=""
        width="100%"
      />
      <h3>Planta Isolada Cordel</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/cordel/Planta opcao Cordel.jpg"
        alt=""
        width="100%"
      />
      <h3>Planta opcao Cordel</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/cordel/QUARTO CASAL.jpg"
        alt=""
        width="100%"
      />
      <h3>QUARTO CASAL</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/cordel/QUARTO CRIANÇA CAIS.jpg"
        alt=""
        width="100%"
      />
      <h3>QUARTO CRIANÇA CAIS</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/cordel/SALA_APTO2QUARTOS_TIPO_CAIS.jpg"
        alt=""
        width="100%"
      />
      <h3>SALA APTO2QUARTOS TIPO CAIS</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/cordel/VARANDA CORDEL.jpg"
        alt=""
        width="100%"
      />
      <h3>VARANDA CORDEL</h3>
    </div>
  </div>
</section>
