section {
  h1 {
    padding-top: 23px;
    padding-bottom: 23px;
    color: #f6f2e6;
    background-position: center;
  }
}
#fotos {
  h1 {
    color: #fdf6d9;
    background: url("../../../assets/titulo2.svg");
  }
}
