<div id="app">
  <div class="container">
    <a routerLink="/">
      <h1 class="text-center pt-3 pt-md-5">
        <img
          src="../assets/logo.svg"
          alt="Logo Cais Eco Residência"
          id="logo"
        />
      </h1>
    </a>
    <nav class="navbar navbar-expand-lg navbar-light">
      <button
        class="navbar-toggler ms-auto me-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul
          class="navbar-nav ms-auto me-auto text-center"
          style="font-size: 24px; font-weight: 300"
        >
          <li class="nav-item">
            <a id="navEmpreendimento" class="nav-link" href="#empreendimento"
              >Empreendimento</a
            >
          </li>
          <li class="nav-item">
            <a id="navFotos" class="nav-link" href="#fotos">Fotos</a>
          </li>
          <li class="nav-item">
            <a id="navLocalizacao" class="nav-link" href="#localizacao"
              >Localização</a
            >
          </li>
          <li class="nav-item">
            <a id="navVideos" class="nav-link" href="#videos">Vídeos</a>
          </li>
          <li class="nav-item">
            <a id="navCadastro" class="nav-link" href="#cadastro">Cadastro</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
<footer>
  <div id="rodape">
    <div class="conteiner pt-5">
      <div class="text-center">
        <a
          href="https://drive.google.com/drive/u/0/folders/1nMO39-WyvK_qblt00OTo_AwjV1XNZTHE"
          target="_blank"
          rel="noopener noreferrer"
          style="text-decoration: none; color: #5e622d"
        >
          <img
            src="../assets/qr_code_videos.jpeg"
            alt="QR Code"
            class="mb-1"
          /><br />
          Leia ou clique no QR Code pra assistir nossas série de vídeos
        </a>
      </div>
    </div>
    <div class="text-center mt-5">
      <p>© 2021 Central de Vendas</p>
      <p class="pt-0 pb-4">
        <small
          >Desenvolvido por:
          <a href="https://cafeinadesign.github.io/">Cafeína Design</a></small
        >
      </p>
    </div>
  </div>
</footer>
