<div id="app">
  <div class="container">
    <h1 class="text-center pt-5"><img src="../assets/logo.svg" alt="Logo Cais Eco Residência" width="264"></h1>
    <nav class="navbar navbar-expand-lg navbar-light text-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto me-auto" style="font-size: 24px;font-weight: 300;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Empreedimento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Fotos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Localização</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Vídeos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cadastro</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
