#app {
  background: transparent url("../assets/ilustracao.png") no-repeat scroll
    center 32px;
  background-size: 256%;
}
#logo {
  width: 132px;
}
.navbar-light .navbar-nav .nav-link {
  border-bottom: 3px solid transparent;
}
a#navEmpreendimento:focus,
a#navEmpreendimento:hover {
  border-color: #e65b24;
}
a#navFotos:focus,
a#navFotos:hover {
  border-color: #5e622d;
}
a#navLocalizacao:focus,
a#navLocalizacao:hover {
  border-color: #b13124;
}
a#navVideos:focus,
a#navVideos:hover {
  border-color: #ea951f;
}
a#navCadastro:focus,
a#navCadastro:hover {
  border-color: #e65b24;
}
footer {
  background: #f6f2e6 url("../assets/bg.svg") no-repeat center top;
  background-size: auto 100%;
}
#rodape {
  background: transparent url("../assets/ilustracao.png") no-repeat scroll
    center 32px;
  background-size: 300%;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #app {
    background: transparent url("../assets/ilustracao.png") no-repeat scroll
      center -40px;
    background-size: 2026px 345px;
  }
  #logo {
    width: 264px;
  }
  button.nav-link {
    font-size: 18px;
    padding: 12px 6px;
  }
  footer {
    background: #f6f2e6 url("../assets/bg.png") no-repeat center top;
    background-size: 2427px 616px;
  }
}
