<div id="app">
  <div class="container">
    <h1 class="text-center pt-5"><img src="../assets/logo.svg" alt="Logo Cais Eco Residência" width="264"></h1>
    <nav class="navbar navbar-expand-lg navbar-light text-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto me-auto" style="font-size: 24px;font-weight: 300;">
          <li class="nav-item">
            <a class="nav-link" href="#empreedimento">Empreedimento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#fotos">Fotos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#localizacao">Localização</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#videos">Vídeos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#cadastro">Cadastro</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <img src="../assets/cais-eco-residência.jpg" alt="Cais Eco Residência" width="100%">
  <div id="empreedimento">
    <h1 style="color: #fff;background-color: #e65b24;" class="text-center pt-2 pb-2">Empreedimento</h1>
    <div class="container">
      <div class="row pb-3">
        <div class="col-4"><img src="../assets/empreendimento.jpeg" alt="Cais Eco Residência" class="img-fluid"></div>
        <div class="col-8">
          <h2 class="card-title">Cais Eco Residência</h2>
          <p>O Cais Eco Residencia está localizado na Estrada de Muro Alto em um dos terrenos mais cobiçados da região. Um Resort de Alto Padrão com sensacionais Flats de 36m2 com 01 Dormitório. Com 62m2 com 02 suítes. Térreos com jardim e piscina privada de 175m2 com 04 suítes, apartamentos duplex e até 3 vagas de garagem, todas cobertas no subsolo. Área lazer completa com parque aquático, restaurante, espaço gourmet, empório, lavanderia, pet place, playground e muito mais!</p>
          <p class="card-text"><small class="text-muted">Praia de Muro Alto - PE</small></p>
        </div>
      </div>
    </div>
  </div>
  <div id="fotos">
    <h1 style="color: #fff;background-color: #5e622d;" class="text-center pt-2 pb-2">Fotos</h1>
    <div class="container">
      <p>O Cais Eco Residencia está localizado na Estrada de Muro Alto em um dos terrenos mais cobiçados da região. Um Resort de Alto Padrão com sensacionais Flats de 36m2 com 01 Dormitório. Com 62m2 com 02 suítes. Térreos com jardim e piscina privada de 175m2 com 04 suítes, apartamentos duplex e até 3 vagas de garagem, todas cobertas no subsolo. Área lazer completa com parque aquático, restaurante, espaço gourmet, empório, lavanderia, pet place, playground e muito mais!</p>
    </div>
  </div>
  <div id="localizacao">
    <h1 style="color: #fff;background-color: #b13124;" class="text-center pt-2 pb-2">Localização</h1>
    <div class="container">
      <p>O Cais Eco Residencia está localizado na Estrada de Muro Alto em um dos terrenos mais cobiçados da região. Um Resort de Alto Padrão com sensacionais Flats de 36m2 com 01 Dormitório. Com 62m2 com 02 suítes. Térreos com jardim e piscina privada de 175m2 com 04 suítes, apartamentos duplex e até 3 vagas de garagem, todas cobertas no subsolo. Área lazer completa com parque aquático, restaurante, espaço gourmet, empório, lavanderia, pet place, playground e muito mais!</p>
    </div>
  </div>
  <div id="videos">
    <h1 style="color: #fff;background-color: #ea951f;" class="text-center pt-2 pb-2">Vídeos</h1>
    <div class="container">
      <p>O Cais Eco Residencia está localizado na Estrada de Muro Alto em um dos terrenos mais cobiçados da região. Um Resort de Alto Padrão com sensacionais Flats de 36m2 com 01 Dormitório. Com 62m2 com 02 suítes. Térreos com jardim e piscina privada de 175m2 com 04 suítes, apartamentos duplex e até 3 vagas de garagem, todas cobertas no subsolo. Área lazer completa com parque aquático, restaurante, espaço gourmet, empório, lavanderia, pet place, playground e muito mais!</p>
    </div>
  </div>
  <div id="cadastro">
    <h1 style="color: #fff;background-color: #e65b24;" class="text-center pt-2 pb-2">Cadastro</h1>
    <div class="container">
      <p>O Cais Eco Residencia está localizado na Estrada de Muro Alto em um dos terrenos mais cobiçados da região. Um Resort de Alto Padrão com sensacionais Flats de 36m2 com 01 Dormitório. Com 62m2 com 02 suítes. Térreos com jardim e piscina privada de 175m2 com 04 suítes, apartamentos duplex e até 3 vagas de garagem, todas cobertas no subsolo. Área lazer completa com parque aquático, restaurante, espaço gourmet, empório, lavanderia, pet place, playground e muito mais!</p>
    </div>
  </div>
</div>
<footer>
	<div class="mt-5 font-weight-light rodape">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-6 text-center text-lg-left">
					<p class="mb-0">
						© 2021 Central de vendas.					</p>
				</div>
				<div class="col-6 text-center text-lg-right developed-by">
					<p class="py-2">
						Desenvolvido por: <a href="https://cafeinadesign.github.io/">Cafeína Design</a></p>					<p></p>
				</div>
			</div>
		</div>
	</div>
</footer>
