<section id="fotos" class="text-center">
  <h1>Fotos</h1>
  <h2>Xilo</h2>
  <div style="max-width: 614px; width: 100%; margin: 0 auto">
    <div class="mb-3">
      <img
        src="../../assets/fotos/xilo/Planta Isolada Xilo Com divisória (2).jpg"
        alt=""
        width="100%"
      />
      <h3>Planta Isolada Xilo Com divisória</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/xilo/Planta Isolada Xilo Com divisória.jpg"
        alt=""
        width="100%"
      />
      <h3>Planta Isolada Xilo Com divisória</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/xilo/Planta Isolada Xilo.jpg"
        alt=""
        width="100%"
      />
      <h3>Planta Isolada Xilo</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/xilo/Planta opcao Xilo.jpg"
        alt=""
        width="100%"
      />
      <h3>Planta opcao Xilo</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/xilo/SALA_1QUARTOTIPO_CAIS.jpg"
        alt=""
        width="100%"
      />
      <h3>SALA 1 QUARTO TIPO CAIS</h3>
    </div>
    <div class="mb-3">
      <img src="../../assets/fotos/xilo/VARANDA XILO.jpg" alt="" width="100%" />
      <h3>VARANDA XILO</h3>
    </div>
  </div>
</section>
