<section id="fotos" class="text-center">
  <h1>Fotos</h1>
  <h2>Rooftop Arte</h2>
  <div style="max-width: 614px; width: 100%; margin: 0 auto">
    <div class="mb-3">
      <img
        src="../../assets/fotos/rooftop-arte/Planta Isolada RT Arte (3).jpg"
        alt=""
        width="100%"
      />
      <h3>Planta Isolada RT Arte</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/rooftop-arte/Planta Isolada RT Arte.jpg"
        alt=""
        width="100%"
      />
      <h3>Planta Isolada RT Arte</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/rooftop-arte/Planta opcao Arte.jpg"
        alt=""
        width="100%"
      />
      <h3>Planta opcao Arte</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/rooftop-arte/ROOFTOP 1QUARTOS CAIS VISTA.jpg"
        alt=""
        width="100%"
      />
      <h3>ROOFTOP 1QUARTOS CAIS VISTA</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/rooftop-arte/ROOFTOP 1QUARTOS CAIS.jpg"
        alt=""
        width="100%"
      />
      <h3>ROOFTOP 1QUARTOS CAIS</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/rooftop-arte/SALA ROOFTOP 1 QUARTO CAIS.jpg"
        alt=""
        width="100%"
      />
      <h3>SALA ROOFTOP 1 QUARTO CAIS</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/rooftop-arte/Tipo 4 e Tipo 5 .jpg"
        alt=""
        width="100%"
      />
      <h3>Tipo 4 e Tipo 5</h3>
    </div>
  </div>
</section>
