<section id="fotos" class="text-center">
  <h1>Meu cais</h1>
  <div style="max-width: 1080px; width: 100%; margin: 0 auto">
    <div class="mb-3">
      <img
        src="../../assets/fotos/meu-cais/BWC_SUITEMASTER_CAIS.jpg"
        alt=""
        width="100%"
      />
      <h3>BWC SUÍTE MASTER CAIS</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/meu-cais/COZINHA TERREO CAIS.jpg"
        alt=""
        width="100%"
      />
      <h3>COZINHA TÉRREO CAIS</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/meu-cais/Planta Meu Cais.jpg"
        alt=""
        width="100%"
      />
      <h3>Planta Meu Cais</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/meu-cais/QUARTO CASAL CAIS.jpg"
        alt=""
        width="100%"
      />
      <h3>QUARTO CASAL CAIS</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/meu-cais/SALA TERREO CAIS.jpg"
        alt=""
        width="100%"
      />
      <h3>SALA TERREO CAIS</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/meu-cais/VARANDA TERREO CAIS - WIDE.jpg"
        alt=""
        width="100%"
      />
      <h3>VARANDA TÉRREO CAIS - WIDE</h3>
    </div>
    <div class="mb-3">
      <img
        src="../../assets/fotos/meu-cais/VARANDA TERREO CAIS VISTA2.jpg"
        alt=""
        width="100%"
      />
      <h3>VARANDA TÉRREO CAIS VISTA2</h3>
    </div>
  </div>
</section>
